services:
  redis:
    container_name: redis
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  celery-worker:
    container_name: main_celery
    build: .
    restart: unless-stopped
    working_dir: /app
    command: bash -c "
      poetry run celery -A src.shared.celery_module.celery_worker.celery_app worker -l info -Q default,notify_email,notify_tg,notify_sms"
    environment:
      PYTHONPATH: /app
      REDIS_URL: redis://redis:6379/0
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    depends_on:
      redis:
        condition: service_started
    volumes:
      - ./src:/app/src:rw

  celery-beat:
    container_name: main_beat
    build: .
    restart: unless-stopped
    working_dir: /app
    command: >
      bash -c "poetry run celery -A src.shared.celery_module.celery_worker.celery_app beat -l info"
    environment:
      PYTHONPATH: /app
      REDIS_URL: redis://redis:6379/0
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    depends_on:
      redis:
        condition: service_started
    volumes:
      - ./src:/app/src:rw

  nginx:
    container_name: nginx
    image: nginx
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./nginx_conf/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx_conf/nginx.conf:/etc/nginx/nginx.conf

  db:
    container_name: db
    image: postgres:14-alpine
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

volumes:
  postgres_data:
