name: Run Tests

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Клонируем репозиторий
      - name: Checkout code
        uses: actions/checkout@v4

      # Устанавливаем Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      # Устанавливаем Poetry
      - name: Install Poetry
        run: pipx install poetry

      # Настройка кеша для Poetry
      - name: Set up Poetry cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry
          key: poetry-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ runner.os }}-

      # Устанавливаем зависимости (с учётом poetry.lock)
      - name: Install dependencies
        run: poetry install --no-interaction --no-root

      # Запускаем тесты
      - name: Run pytest
        run: poetry run pytest
